.idea/
.vscode/
node_modules/
build/
dist/
coverage/

ormlogs.log
yarn-error.log

logs/*
!logs/.gitkeep

src/database/*
!src/database/.gitkeep

src/__tests__/database/*
!src/__tests__/database/.gitkeep

src/__tests__/coverage/*