<body>
  <div id="home" class="content">
    <header>
      <a href="/">
        <img src="/images/logo.svg" alt="Fale Mais Logo" />
      </a>
    </header>

    <div id="bg">
      <div class="ball top"></div>
      <div class="ball bottom"></div>
    </div>

    <main>
      <div class="container">
        <%- include("message-box"); %>
        <section>
          <h2>Acesse a sua conta</h2>
          <form action="/login" method="POST">
            <label for="phone" class="scr-only">Telefone</label>
            <input type="text" name="phone" id="phone" placeholder="Telefone" <%
            if (inputError.includes("phone")) { %>style="border: .2rem solid
            var(--red);"<% }; %> <% if (formData.phone) { %>value="<%-
            formData.phone; %>"<% }; %>>
            <label for="password" class="scr-only">Senha</label>
            <input type="password" name="password" id="password"
            placeholder="Senha" <% if (inputError.includes("password")) {
            %>style="border: .2rem solid var(--red);"<% }; %>>
            <button onclick="sendForm()">
              <img src="/images/enter-room.svg" alt="Entrar" />
              Entrar
            </button>
          </form>
        </section>

        <div class="separator">
          <div></div>
          <div>ou</div>
          <div></div>
        </div>

        <section>
          <h2>Crie uma agora mesmo</h2>
          <a href="signup" class="button outlined">
            <img src="/images/users.svg" alt="Criar uma nova conta" /> Criar uma
            nova conta
          </a>
        </section>
      </div>
    </main>
  </div>
</body>
