<!-- Title -->
<title>
  Fale Mais by Telzir | Criar uma nova conta
</title>
</head>
<body>
  <div id="home" class="content">
    <header>
      <a href="/">
        <img src="/images/logo.svg" alt="Fale Mais Logo" />
      </a>
    </header>

    <div id="bg">
      <div class="ball top"></div>
      <div class="ball bottom"></div>
    </div>

    <main>
      <div class="container">
        <%- include("message-box"); %>
        <section>
            <button id="go-to-my-account">
              <img src="/images/enter-room.svg" alt="Ir para minha conta" />
              Ir para minha conta
            </button>
          </form>
        </section>
      </div>
    </main>
  </div>
</body>
